<?php // vim:set ts=4 sw=4 sts=4 et:
require_once "config-files.php"
require_once "/var/www/docroot/htmlpurifier/library/HTMLPurifier.auto.php";

# Used for sessions.  Default location is bad because all PHP
# scripts running on the same server will clean up sessions
# with the default session lifetimes, rather than the one
# specified below.  Also used for KRB5CCNAME when managing
# moira lists.
config("TMPDIR", "/mit/puzzle/web_scripts_tmp/2015puzzletron");

ini_set('default_charset', 'UTF-8');
ini_set('session.gc_maxlifetime','86400');
ini_set('session.cookie_lifetime','86400');
ini_set('session.save_path', TMPDIR);

session_start();

//stuff you probably don't need to change
config("SELF", "$_SERVER[PHP_SELF]");
config("PICPATH", "uploads/pictures/"); // Path for user pictures
config("DB_NAME", "puzzletron");

//server mode
config("DEVMODE", FALSE);
config("PRACMODE", FALSE);

//urls and email addresses for your team
config("PTRON_FROM_EMAIL", "no-reply@blahblahblah.org");
config("URL", "https://blahblahblah.org/editing");
config("POSTPROD_URLPREFIX", "https://xxxmysteryhunt.com/");
config("PHPMYADMIN_URL", "https://scripts.mit.edu/~sql/phpMyAdmin/");
config("HELP_EMAIL", "systems-help@blahblahblah.org");
config("WIKI_URL", "https://blahblahblah.org/wiki");
config("BUGTRACK_URL", "https://github.com/mysteryhunt/puzzle-editing/issues");

//puzzletron options
config("TRUST_REMOTE_USER", FALSE); // Use internal puzzletron authentication
                                    // This is if you're behind an SSO system / apache proxy that does auth
config("ALLOW_TESTSOLVE_PICK", TRUE); // Display list of puzzles for testsolvers to pick from
config("ALLOW_EDITOR_PICK", TRUE); // Display list of puzzles for editors to pick from
config("MIN_EDITORS", 2); // Used in conjunction with ALLOW_EDITOR_PICK.
config("MIN_APPROVERS", 2); // Used in conjunction with ALLOW_EDITOR_PICK and USING_APPROVERS

//puzzletron feature sets
config("USING_TESTSOLVE_REQUESTS", FALSE);
config("USING_TESTSOLVE_TEAMS", FALSE);
config("USING_ROUND_CAPTAINS", FALSE);
config("USING_APPROVERS", FALSE);
config("USING_CREDITS", FALSE);
config("USING_AWS", FALSE);

config("ENABLE_WRITING_WIKI", FALSE);
config("ANON_TESTERS", FALSE);
config("USING_CODENAMES", TRUE);

config("MAILING_LISTS", TRUE);
config("GET_KEYTAB", "kinit -k -t KEYTAB_FILE PRINCIPAL");
config("MMBLANCHE_CMD", "athrun consult mmblanche");
config("MMBLANCHE_PASSWORDS", "PASSWORD_DIR");
config("EDITOR_MAILING_LIST", "EDITOR_LIST");

$mailing_lists = array(
    "LIST" => "DESCRIPTION",
);

//when is hunt
config("HUNT_YEAR",2014);
config("HUNT_DOM",17);
date_default_timezone_set('America/New_York');
?>
