<?php
require_once "config-files.php"

config('DB_USER', 'puzzletron');
config('DB_PASS','s3kr1t');
config('DB_SERVER', 'localhost');


config('AWS_ACCESS_KEY','ACCESS');
config('AWS_SECRET_KEY','SECRET');
config('AWS_BUCKET','hunt-bucket');
?>
